*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Hiragino Sans";
    src: local(HiraginoSans-W0);
    font-weight: 100;
}

@font-face {
    font-family: "Nunito Sans Regular";
    src: local(Nunito Sans Regular);
    src: url("../assets/fonts/NunitoSans-Regular.woff") format("woff");
    src: url("../assets/fonts/NunitoSans-Regular.ttf") format('truetype');
    // font-weight: 100;
}

@font-face {
    font-family: "Nunito Sans Light";
    src: local(Nunito Sans Light);
    src: url("../assets/fonts/NunitoSans-Light.woff") format("woff");
    src: url("../assets/fonts/NunitoSans-Light.ttf") format('truetype');
    // font-weight: 100;
}

@font-face {
    font-family: "Roboto Thin";
    src: local(Roboto);
    src: url("../assets/fonts/Roboto-Thin.woff") format("woff");
    src: url("../assets/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Krub Medium";
    src: local(Krub);
    src: url("../assets/fonts/Krub-Medium.woff") format("woff");
    src: url("../assets/fonts/Krub-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Krub Bold";
    src: local(Krub);
    src: url("../assets/fonts/Krub-Bold.woff") format("woff");
    src: url("../assets/fonts/Krub-Bold.ttf") format('truetype');
}

/**** CUSTOM PROPERTIES ****/
:root{
    // COLORES
    --blanco: #f2f2f2;
    --amarillo: #C7AF2B;
    --gris: #cecece;
    --feedback-ok-color: #b9f065;
    --rosa: #FF4767;

    // Fonts
    --fontfamily-thin: 'Roboto Thin', 'Helvetica neue', sans-serif;
    --fontfamily-light: "Nunito Sans Light";
    --fontfamily-medium: 'Krub Medium';
    --fontfamily-bold: 'Krub Bold';
    

    // Espacios
    --padding-general: 1em;
    --padding-contenido: min(5vw, 3em);

    // Tamaños
    --width-nav: calc(100% - (var(--padding-general) * 2));
    --height-nav: calc((var(--padding-general) * 2) + 35px);
    --height-container: calc(100dvh - var(--height-nav));

    // Maquetacion
    --gt-body:  "content"
                "nav" ;
    --gtc-container: 1fr;
    --gtc-nav: repeat(5, auto);

    //
    --display-simplify-p: none;
    --display-simplify-svg: block;

    // Efectos
    --shadow-header: 2px 2px 5px rgba(0, 0, 0, 0.752);
    --shadow: 3px 3px 10px rgba(0, 0, 0, 0.752);
    --border-radius-big: 10px;
    --border-radius-small: 5px;

    // Visibilidad
    --display-laburdura: inline;
    --display-ez-laburdura: none;
}

@media (orientation: landscape) {
    :root{
        // Visibilidad
        --display-laburdura: none;
        --display-ez-laburdura: inline;
    }
}


/***** Texto *****/
h1{
    color: var(--amarillo);
    text-shadow: var(--shadow-header);
    font-size: min(5vw, 40px);
    font-weight: 100;
}

h2, h3{
    font-family: var(--fontfamily-bold);
}
h2{
    font-size: min(5vw, 1.5em);
}
h3{
    font-size: 1.2em;
    font-weight: 200;
    color: var(--amarillo);
    margin-bottom: 0.5rem;
}

p{
    line-height: 1.5em;
}
h1, p, label, button, input, textarea{
    font-family: var(--fontfamily-light);
}

/***** Etiquetas semánticas *****/
body{
    background-image: url(../assets/img/urko-buruaga-fondo-canyon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    color: var(--gris);

    display: grid;
    
    grid-template-rows: 1fr 50px;
    grid-template: var(--gt-body);
    overflow: hidden;
}

header{
    width: 100%;
    text-align: center;
    height: calc(100dvh - var(--height-nav)  - 1rem);
    display: grid;
    padding-bottom: 3em;

    align-content: space-around;
    
}

main section{
    max-width: 800px;
    margin: auto;

    margin-bottom: 2.5em;
    

    padding: var(--padding-contenido);
    &:not(.section_tabs){
        background: rgba(31, 31, 31, 0.8);
        box-sizing: border-box;
        border-radius: var(--border-radius-big);
        box-shadow: var(--shadow);
    }
}

form{
    display: grid;
}

label{
    text-align: left;
    margin-top: var(--padding-general);
    margin-bottom: 0.5rem;
}

input, textarea, button{
    border-radius: var(--border-radius-small);
    border: none;
}
input{
    height: 30px;
}

input, textarea{
    font-size: 1em;
    padding: var(--padding-general);
    box-sizing: border-box;
    box-shadow: var(--shadow);
}
button[type=submit]{
    background-color: var(--rosa);
    display: flex;
    place-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    color: var(--blanco);

    margin: var(--padding-general) 0 ; 
    box-shadow: var(--shadow);
}

/***** Elementos específicos *****/
.section_title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: var(--padding-general) 0;

    h2:first-child{
        border-right: 1pt solid var(--amarillo);
    }
}

.w-icons article{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    text-align: center;
    align-items: center;
    padding: var(--padding-contenido);
    grid-template-rows: auto auto;

    &:last-child{
        padding-bottom: 0;
    }

    span{
        &:not(.multiparrafo, .laburdura, .ez-laburdura){
            display:grid;
            grid-row: span 2;
            grid-template-rows: subgrid;
        }
    }
    h3{
        grid-row: 1/2;
    }
    p:not(.message-feedback p){
        grid-row: 2/3;
        margin: 0 var(--padding-contenido);
    }

    &:not(:first-of-type){
        border-top: 1pt solid var(--amarillo);
    }

    svg{
        color: var(--amarillo);
        width: 28px;
        grid-row: span 2;

    }
}

.icono_texto{
    font-family: var(--fontfamily-bold);
    font-weight: 100;
    color: var(--amarillo);
    font-size: 1.7em;
}

// Harremana
#article-harremana{
    h3{
        grid-row: auto;
    }

    svg{
        margin-bottom: .5rem;
    }
}


#contact-form, .message-feedback{
    grid-column: span 3;
}
#contact-form{
    p{
        grid-row: auto;
        text-align: left;
        font-size: 0.7em;
        width: 100%;
        margin: 0;

        &.recaptcha-texto{
            margin-bottom: var(--padding-general);

            a{
                color: inherit;
            }
        }
    }
}

label.required::after {
    content: ' *';
    color: var(--rosa);
    opacity: 0.85;
  }

.grecaptcha-badge{ visibility: hidden; }

.message-feedback{
    margin-top: var(--padding-general);
    padding: var(--padding-general);

}
#message-ok{
    border: 1pt solid var(--feedback-ok-color);
}
#message-error{
    border: 1pt solid red;
}

.feedback-title{
    margin-bottom: var(--padding-general);
    font-weight: 700;
}

.feedback-ok-title{
    color: var(--feedback-ok-color);
    
}
.feedback-error-title{
    color:red;
}

.feedback-text {
    p:not(:last-child){
        margin-bottom: var(--padding-general);
    }
}


// 2 kolumna
.article_2_col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: calc(var(--padding-contenido) *2);

}

.gallery_img{
    margin: calc(var(--padding-contenido) *2) 0 var(--padding-contenido);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    gap: var(--padding-contenido);
    img{
        max-width: 100px;
        max-height: 100px;
    }
}

.kronologia{
    line-height: 1.7em;
    h3{
        margin-bottom: 0;
        
    }
    article{
        padding: var(--padding-contenido) 0;
        &:not(:last-child){
            border-bottom: 1pt solid var(--amarillo);
        }
        &:last-child{
            padding-bottom: var(--padding-general);
        }
    }
}



#container{
    grid-area: content;
    overflow-x: hidden;
    height: var(--height-container);
    mask-image: linear-gradient(to top, transparent, black 6%);
    padding: 0 var(--padding-general);
}





#logo{
    filter: drop-shadow(var(--shadow-header));
    width: 500px;
    max-width: 70vw;
    margin: auto;
    img{
        width: 100%;
        opacity: 0.9;
    }
}

#site-title{
    font-family: var(--fontfamily-thin);
    text-transform: uppercase;
    font-weight: 100;
    font-size: min(9.585cqw, 68.3px);
}

#rrss{
    svg{
        height: 30px;
        filter: drop-shadow(var(--shadow-header));
        fill: var(--blanco);
    }

    display: flex;
    place-content: center;
    gap: 40px;
}

#scroll-indicator{
    font-size: 3em;
    transform:scale(1.1,0.5);
    font-family: var(--fontfamily-thin);

    animation: updown 1.2s ease-in 5s infinite alternate none;
}

@keyframes updown {
    from{
        transform: 
            translateY(0)
            scale(1.1,0.5)
        ;
    }
    to{
        transform: 
            translateY(20px)
            scale(1.1,0.5)
        ;
    }
}


#site-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, #030404);
    grid-area: nav;

    div{
        display: grid;
        grid-template-columns: var(--gtc-nav);
        gap: var(--padding-general);
        justify-content: space-around;
        align-items: center;
        width: var(--width-nav);

        margin: var(--padding-general);
        margin-top: 0;
        padding-top: var(--padding-general);

        border-top: 1pt solid var(--amarillo);
        
        a{
            color: var(--gris);
            text-decoration: none;
            font-size: 0.8em;
            text-align: center;

            &:hover{
                color: var(--amarillo);
            }
        }
    }
}

.nav-item-eus{
    font-family: var(--fontfamily-bold);
}

.nav-item-cas{
    font-family: var(--fontfamily-medium);
}

.nav-simplify{
    p{
        display: var(--display-simplify-p);
    }
    svg{
        display: var(--display-simplify-svg);
        width: 30px;
    }
}


// Pestañas
.section_tabs{
    position: relative;
    padding: 0;

    article{
        display: grid;
    }
    h2{
        position: relative;
        background: linear-gradient(hsla(0, 0%, 12%, 0.8) 15%, #1f1f1f);
        width: auto;
        padding: var(--padding-general);
        border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
        z-index: -2;
        opacity: 0.85;

        box-shadow: var(--shadow);
        pointer-events: auto;
        
        
    }

    .active h2{
        z-index: 0;
        opacity: 1;
        color: #C7AF2B;
        
    }

    .tab_content{
        position: relative;
        grid-column: span 3;
        background: linear-gradient(#1f1f1f, rgba(31, 31, 31, 0.8) 15%);
        
        border-radius: 0 var(--border-radius-big) var(--border-radius-big) var(--border-radius-big);
        padding: var(--padding-contenido);

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            box-shadow: var(--shadow);
            position: absolute;
            z-index: -1;
            border-radius: 0 var(--border-radius-big) var(--border-radius-big) var(--border-radius-big);

        }


        p{
        padding: 0.5em;

        }
    }

}


.tab_title_eu{
    grid-area: title_eu;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tab_title_es{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tab_content_es{
    display: none;
}

.ez-laburdura{
    display: var(--display-ez-laburdura);
}
.laburdura{
    display: var(--display-laburdura);
}


 